<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0" metadata-complete="true">

  <display-name>JMX-HTTP Bridge</display-name>
  
  <servlet>
    <servlet-name>jmx-http-servlet</servlet-name>
    <servlet-class>com.github.marschall.jmxhttp.server.servlet.JmxHttpServlet</servlet-class>
    <init-param>
      <description>
        Number of seconds a long-poll connection will live.
        Can be decreased if you network infrastructure does terminate hanging connections earlier.
        Can be increased if you network infrastructure does not terminate hanging connections.
        Optional, default is 30.
      </description>
      <param-name>poll-timeout-seconds</param-name>
      <param-value>30</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jmx-http-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>